/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@500&display=swap');

/*FORMATO GENERAL*/
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    scroll-behavior: smooth;
}
/**************************************************************************************************************
***************************************************************************************************************
---------------------------------------------MENÚ ARRIBA-------------------------------------------------------
***************************************************************************************************************
***************************************************************************************************************/
.nav{
    background-color: #40403E;
    font-family: 'Truculenta', sans-serif;
}
.nav img{
    width: 6em;
    margin: 0.5em;
}
.nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav a{
    color: #FFFFFA;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 1em;
    transition: 0.3s;
}
.nav a:hover{
    background-color: #FFFFFA;
    color: #40403E;
    text-decoration: none;
}
.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes-sociales img{
    background-color: #40403E;
    border: solid 0.1em #FFFFFA;
    border-radius: 8em;
    width: 2em;
    cursor: pointer;
    transition: 0.3s;
}
.redes-sociales img:hover{
    transform: scale(0.8);
}
/**************************************************************************************************************
***************************************************************************************************************
--------------------------------------------CUERPO PAGINA------------------------------------------------------
***************************************************************************************************************
***************************************************************************************************************/
.article {
    background-color: coral;
    font-family: 'Truculenta', sans-serif;
    height: 100vh;
}
a button{
    border: 0px solid;
    padding: 0.3em 1em;
    margin-top: 2em;
    font-size: 1.5em;
    transition: 0.3s;
    border: 0.1em solid #40403E;
}
a button:hover{
    color: #FFFFFA;
    background-color: #40403E;
    border: 0.1em solid #FFFFFA;
}
.reverse{
    color: #FFFFFA;
    background-color: #40403E;
    border: 0.1em solid #FFFFFA;
}
.reverse:hover{
    color: #40403E;
    background-color: #FFFFFA;
    border: 0.1em solid #40403E;
}
.foto-difuminada{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fffffaa8;
}
.contenido-sobre-foto-difuminada{
    z-index: 3;
}
/**************************************************************************************************************
--------------------------------------------PRESENTACION------------------------------------------------------
***************************************************************************************************************/
#presentacion{
    background-image: url("../images/pizza-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#presentacion div:first-child{
    font-size: 6em;
    text-align: center;
    color: #FFFFFA;
    text-shadow: 0px 0px 9px #40403E;
    font-weight: bold;
}
#presentacion img{
    width: 10em;
    transform: rotate(-25deg);
}
/**************************************************************************************************************
--------------------------------------------CARTA------------------------------------------------------
***************************************************************************************************************/
#carta{
    background-image: url("../images/bocadillo-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#carta .contenido-sobre-foto-difuminada{
    padding-left: 3em;
}
#carta h1{
    font-size: 5em;
    text-shadow: 0px 0px 9px #40403E;
}
#carta p{
    font-size: 1.25em;
    margin-top: 3em;
}
/**************************************************************************************************************
--------------------------------------------CONTACTO------------------------------------------------------
***************************************************************************************************************/
#contacto{
    background-image: url("../images/hamburguesa-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 60vh;
}
#contacto h1{
    font-size: 5em;
    color: #FFFFFA;
    text-shadow: 0px 0px 9px #40403E;
}
#contacto p{
    font-size: 1.5em;
    padding: 0.5em 2em;
    background-color: #40403E;
    color: #FFFFFA;
}
/**************************************************************************************************************
--------------------------------------------LOCALES------------------------------------------------------
***************************************************************************************************************/
#locales{
    background-image: url("../images/helado-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#locales h1{
    margin-top: 2em;
    font-size: 5em;
    color: #40403E;
    text-shadow: 0px 0px 9px #FFFFFA;
    height: 50%;
}
#locales a{
    margin: 0px 1em;
}