/* 
AUTOR: Armando Ramos
VERSIÓN: 1.0 
*/
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@500&display=swap');

/*FORMATO GENERAL*/
:root{
    --color-claro: #FFFFFA;
    --color-oscuro: #40403E;
}
*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    scroll-behavior: smooth;
}
/**************************************************************************************************************
***************************************************************************************************************
---------------------------------------------MENÚ ARRIBA-------------------------------------------------------
***************************************************************************************************************
***************************************************************************************************************/
.nav{
    background-color: var(--color-oscuro);
    font-family: 'Truculenta', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 0px 2px 10px 1px black;
    border-radius: 0px 0px 1.75em 1.75em;
}
.nav img{
    width: 6em;
    margin: 0.5em;
    transition: 0.3s;
}
.nav a, #footer a{
    color: var(--color-claro);
    text-decoration: none;
    padding: 0.5em;
    border-radius: 1em;
    transition: 0.3s;
}
.nav a:hover, #footer a:hover{
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    text-decoration: none;
}

.redes-sociales img{
    background-color: var(--color-oscuro);
    border: solid 0.1em var(--color-claro);
    border-radius: 8em;
    width: 2em;
    cursor: pointer;
    transition: 0.3s;
}
.redes-sociales img:hover{
    transform: scale(0.8);
}
/**************************************************************************************************************
***************************************************************************************************************
--------------------------------------------CUERPO PAGINA------------------------------------------------------
***************************************************************************************************************
***************************************************************************************************************/
.boton-subir-arriba{
    position: fixed;
    bottom: 5%;
    left: 95%;
    border-radius: 8em;
    width: 100%;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    cursor: pointer;
    transition: 0.5s;
}

.boton-subir-arriba img{
    background-color: var(--color-oscuro);
    border: solid 0.25em var(--color-claro);
    border-radius: 8em;
    padding: 0.5em;
    width: 4em;
}
.article {
    font-family: 'Truculenta', sans-serif;
    height: auto;
}
a button{
    border: 0px solid;
    padding: 0.3em 1em;
    margin-top: 2em;
    font-size: 1.5em;
    transition: 0.3s;
    border: 0.1em solid var(--color-oscuro);
}
a button:hover{
    color: var(--color-claro);
    background-color: var(--color-oscuro);
    border: 0.1em solid var(--color-claro);
}
.reverse{
    color: var(--color-claro);
    background-color: var(--color-oscuro);
    border: 0.1em solid var(--color-claro);
}
.reverse:hover{
    color: var(--color-oscuro);
    background-color: var(--color-claro);
    border: 0.1em solid var(--color-oscuro);
}
.foto-difuminada{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fffffae0;
}
.contenido-sobre-foto-difuminada{
    z-index: 3;
}
/**************************************************************************************************************
--------------------------------------------PRESENTACION------------------------------------------------------
***************************************************************************************************************/
#presentacion{
    background-image: url("../images/pizza-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em 0;
}
#presentacion div:first-child{
    font-size: 6em;
    text-align: center;
    color: var(--color-claro);
    text-shadow: 0px 0px 9px var(--color-oscuro);
    font-weight: bold;
}
#presentacion img{
    width: 10em;
    transform: rotate(-25deg);
}
/**************************************************************************************************************
--------------------------------------------CARTA------------------------------------------------------
***************************************************************************************************************/
#carta{
    background-image: url("../images/bocadillo-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
#carta .contenido-sobre-foto-difuminada{
    padding-left: 3em;
}
#carta h1{
    font-size: 5em;
    text-shadow: 0px 0px 9px var(--color-oscuro);
}
#carta p{
    font-size: 1.25em;
    margin-top: 3em;
}
#carta img{
    width: 50em;
}
/**************************************************************************************************************
--------------------------------------------CONTACTO------------------------------------------------------
***************************************************************************************************************/
#contacto{
    background-image: url("../images/hamburguesa-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}
#contacto h1{
    font-size: 5em;
    color: var(--color-claro);
    text-shadow: 0px 0px 9px var(--color-oscuro);
    text-align: center;
}
#contacto p{
    font-size: 1.5em;
    padding: 0.5em 2em;
    background-color: var(--color-oscuro);
    color: var(--color-claro);
    text-align: center;
}
/**************************************************************************************************************
--------------------------------------------LOCALES------------------------------------------------------
***************************************************************************************************************/
#locales{
    background-image: url("../images/helado-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#locales h1{
    margin-top: 0.75em;
    font-size: 5em;
    color: var(--color-oscuro);
    text-shadow: 0px 0px 9px var(--color-oscuro);
    height: 50%;
    text-align: center;
}
#locales a button{
    margin: 1em 0 0 0;
}
#locales .lista-de-locales{
    margin-top: 3em;    
}
.local{
    text-align: center;
    background-color: var(--color-oscuro);
    height: auto;
    border-radius: 0.25em;
    width: 50%;
    margin: 6em 4em;
    padding: 1em;
    color: var(--color-claro);
    box-shadow: 0px 0px 5px 2px var(--color-oscuro);
    transition: 0.3s;
    cursor: default;
}
.local:hover{
    color: var(--color-oscuro);
    background-color: var(--color-claro);
}
/**************************************************************************************************************
--------------------------------------------MENSAJE GANCHO------------------------------------------------------
***************************************************************************************************************/
#mensaje-gancho{
    background-image: url("../images/tarta-inicio.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#mensaje-gancho img{
    margin: 1em;
    width: 15em;
}
#mensaje-gancho h1{
    margin-top: 0.25em;
    padding: 0.2em;
    font-size: 5em;
    color: var(--color-claro);
    text-shadow: 0px 0px 9px var(--color-oscuro);
    border-radius: 50px;
    text-align: center;
}
/**************************************************************************************************************
--------------------------------------------FOOTER------------------------------------------------------
***************************************************************************************************************/
#footer{
    background-color: var(--color-oscuro);
    height: 30vh;
    font-size: 1.5em;
}
#footer p{
    color: var(--color-claro);
    margin: 0;
    text-align: center;
}
#footer a{
    font-size: 0.7em;
    margin: 0px 0.5em;
}
#footer img{
    background-color: var(--color-oscuro);
    border: solid 0.1em var(--color-claro);
    border-radius: 8em;
    width: 2em;
    cursor: pointer;
    transition: 0.3s;
    margin: 0px 1em;
}
#footer img:hover{
    transform: scale(0.8);
}
/**************************************************************************************************************
***************************************************************************************************************
---------------------------------------------RESPONSIVE-------------------------------------------------------
***************************************************************************************************************
***************************************************************************************************************/




/**************************************************************************************************************
--------------------------------------------PRESENTACION------------------------------------------------------
***************************************************************************************************************/
@media (max-width: 930px) {
    #presentacion div:first-child{
        font-size: 3.5em;
    }
}
@media (max-width: 560px){
    #presentacion div:first-child{
        font-size: 2.75em;
    }
}

/**************************************************************************************************************
--------------------------------------------CARTA------------------------------------------------------
***************************************************************************************************************/
@media (max-width: 996px) {
    #carta h1{
        margin-top: 1.5em;
    }
}
@media (max-width: 859px) {
    #carta img{
        width: 30em;
    }
}
@media (max-width: 528px) {
    #carta h1{
        font-size: 3em;
    }
    #carta img{
        margin-top: 2em;
        width: 20em;
    }
}

/**************************************************************************************************************
--------------------------------------------CONTACTO------------------------------------------------------
***************************************************************************************************************/
@media (max-width: 528px) {
    #contacto h1{
        font-size: 3em;
    }
}
@media (max-width: 415px){
    #contacto{
        height: auto;
    }    
}

/**************************************************************************************************************
--------------------------------------------LOCALES------------------------------------------------------
***************************************************************************************************************/
@media (max-width: 1021px){
    #locales a button{
        font-size: 1em;
    }  
}
@media (max-width: 944px){
    .local{ 
        margin: 6em 3em;
    }  
}
@media (max-width: 773px){
    .local{ 
        margin: 6em 2em;
    }  
}
@media (max-width: 528px) {
    #locales h1{
        font-size: 3em;
    }
}
@media (max-width: 392px){
    #locales a button{
        font-size: 0.8em;
    }  
}
/**************************************************************************************************************
--------------------------------------------MENSAJE GANCHO------------------------------------------------------
***************************************************************************************************************/
@media (max-width: 528px) {
    #mensaje-gancho h1{
        font-size: 3em;
    }
}
/**************************************************************************************************************
--------------------------------------------FOOTER------------------------------------------------------
***************************************************************************************************************/
@media (max-width: 859px) {
    #footer{
        font-size: 1em;
        height: auto;
    }
    #footer img{
        width: 1.5em;
        margin: 0px 1em;
    }
}
@media (max-width: 359px) {
    #footer{
        font-size: 0.8em;
    }
    #footer a{
        font-size: 0.7em;
        margin: 1em 0.5em;
    }
}
